@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden;
}

html, body, * {
  font-family: var(--font-poppins), "Poppins", sans-serif !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-33.333%);
  }
}

@keyframes marqueeReverse {
  from {
    transform: translateX(-33.333%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 28s linear infinite;
}

.animate-marquee-reverse {
  animation: marqueeReverse 28s linear infinite;
}

@keyframes floatSlow {

  0%,100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-25px);
  }

}

@keyframes floatMedium {

  0%,100% {
    transform: translateY(0) translateX(0);
  }

  50% {
    transform: translateY(-18px) translateX(10px);
  }

}

@keyframes floatFast {

  0%,100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

}

@keyframes floatLottie {

  0%,100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-18px);
  }

}

.animate-float-slow {
  animation: floatSlow 6s ease-in-out infinite;
}

.animate-float-medium {
  animation: floatMedium 4s ease-in-out infinite;
}

.animate-float-fast {
  animation: floatFast 3s ease-in-out infinite;
}

.animate-float-lottie {
  animation: floatLottie 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-10px) rotate(10deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float2 {
  animation: float2 5s ease-in-out infinite;
}